# build and IDE specific
build/
out/
.vs/
.vscode/
bin/
obj/
vcpkg_installed/
vcpkg/

# compiled binaries (global)
*.exe
*.out
*.app
*.o
*.obj
*.slo
*.lo
*.so
*.dylib
*.dll
*.lib
*.a
*.la
*.lai
*.pdb
*.ilk

# OIDN structure preservation
libs/oidn/bin/*
libs/oidn/lib/*
libs/oidn/include/*

!**/ .gitkeep

# assets & textures
!assets/
!assets/**/*.png
!assets/**/*.jpg
!assets/**/*.hdr
!assets/**/*.obj
!media/
!media/**/*.png
!media/**/*.jpg

# render outputs (ignore)
*.ppm
*.png
*.jpg
output/
screenshots/

# temporary/misc
*.d
*.gch
*.pch
*.mod
*.smod
.DS_Store
Thumbs.db
